<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:tizen="http://tizen.org/ns/widgets"
        id="http://zikualdo.tv/ziiiTV"
        version="2.0.0"
        viewmodes="maximized">

  <tizen:application id="2TDndgJZyN.ziiiTV"
                     package="2TDndgJZyN"
                     required_version="4.0"/>

  <content src="index.html"/>

  <tizen:allow-navigation>*</tizen:allow-navigation>

  <tizen:content-security-policy>
    default-src * 'unsafe-inline' 'unsafe-eval' data: blob:;
  </tizen:content-security-policy>

  <tizen:privilege name="http://tizen.org/privilege/internet"/>
  <tizen:privilege name="http://tizen.org/privilege/tv.inputdevice"/>
  <tizen:privilege name="http://tizen.org/privilege/tv.audio"/>
  <tizen:privilege name="http://tizen.org/privilege/system"/>
  <tizen:privilege name="http://tizen.org/privilege/content.read"/>
  <tizen:privilege name="http://tizen.org/privilege/application.read"/>
  <tizen:privilege name="http://tizen.org/privilege/unlimitedstorage"/>
  <tizen:privilege name="http://tizen.org/privilege/filesystem.read"/>
  <tizen:privilege name="http://tizen.org/privilege/filesystem.write"/>

  <tizen:profile name="tv"/>
  <name>ziiiTV</name>
  <icon src="icon.png"/>
  <access origin="*" subdomains="true"/>

  <tizen:setting screen-orientation="landscape"
                 context-menu="disable"
                 background-support="disable"
                 encryption="disable"
                 install-location="auto"
                 hwkey-event="true"/>
</widget>
